<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">
			com.microsoft.sqlserver.jdbc.SQLServerDriver
		</property>
		<property name="connection.url">
			jdbc:sqlserver://localhost:1433;databaseName=thuocdo
		</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">12345</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">100</property>

		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.SQLServerDialect
		</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="com.thuocdo.ma.Bean.Category" />
		<mapping class="com.thuocdo.ma.Bean.Account" />
		<mapping class="com.thuocdo.ma.Bean.AgeRank" />
		<mapping class="com.thuocdo.ma.Bean.Answer" />
		<mapping class="com.thuocdo.ma.Bean.FAQ" />
		<mapping class="com.thuocdo.ma.Bean.Illegal" />
		<mapping class="com.thuocdo.ma.Bean.Job" />
		<mapping class="com.thuocdo.ma.Bean.JoinSurvey" />
		<mapping class="com.thuocdo.ma.Bean.Question" />
		<mapping class="com.thuocdo.ma.Bean.Result" />
		<mapping class="com.thuocdo.ma.Bean.Role" />
		<mapping class="com.thuocdo.ma.Bean.Survey" />
		<mapping class="com.thuocdo.ma.Bean.TypeOfQuestion" />

	</session-factory>

</hibernate-configuration>